# 1. Настройки самой базы данных Postgres
POSTGRES_USER=postgres
POSTGRES_PW=pgpass
POSTGRES_DB=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5434

# 2. Настройки для Airflow (чтобы он знал, куда подключаться)
# ВНИМАНИЕ: вместо localhost пишем имя сервиса базы из docker-compose (обычно postgres)
# ВНИМАНИЕ: порт внутри сети Docker всегда стандартный — 5432
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://postgres:pgpass@postgres:5432/postgres
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://postgres:pgpass@postgres:5432/postgres

# 3. Системные переменные Airflow
AIRFLOW_UID=50000
FERNET_KEY=""

# Логин и пароль для админки Airflow 3
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin_password