# Виртуальное окружение (библиотеки)
.venv/
venv/
ENV/
env/

# Кэш Python (компилированные файлы)
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Настройки среды разработки PyCharm / VS Code
.idea/
.vscode/

# Конфиденциальные данные (пароли, строки подключения к БД)
.env

# Логи и отчеты
*.log

